## Nextflow
*.command*
*.nextflow*
*.dot
runs/*

results*
work
out-*

## nf-test
.nf-test/
.nf-test.log

notebooks/*.png
notebooks/*.ipynb
notebooks/*.html

assets/TCRseq_metadata_templates/*

.DS_Store

## Python
bin/__pycache__/*
scripts/*

## Quarto
notebooks/*
!notebooks/sample_stats_template.qmd
!notebooks/compare_stats_template.qmd
!notebooks/gliph2_report_template.qmd
!notebooks/template_qc.qmd
!notebooks/template_discovery_brief.qmd
!notebooks/template_pheno_bulk.qmd
!notebooks/template_pheno_sc.qmd
!notebooks/template_details.qmd
!notebooks/template_sample.qmd
!notebooks/template_overlap.qmd
!notebooks/template_sharing.qmd
!notebooks/template_pheno_sc_details.qmd
!notebooks/template_gliph.qmd

## Bash
tmp

## vscode
.vscode/*